@font-face {
  font-family: "BoldlyMissy";
  src: url("BoldlyMissy.otf") format("opentype");
}
* {
  box-sizing: border-box;
  font-family: "BoldlyMissy", cursive;
  font-size: 25px;
}

body {
  display: flex;
  justify-content: center;
  margin: 5%;
}

button {
  width: 27%;
  height: 18%;
  margin: 0.5%;
  border-radius: 25%;
  box-shadow: 2.5px 10px #a13d4e;
  cursor: pointer;
}

.button--modifier {
  width: 40%;
  height: 18%;
}

.button--lg {
  width: 80%;
  height: 20%;
}

.grid-container {
  width: 35%;
  min-height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  border: 3px solid black;
  border-radius: 8%;
  background-color: lightcoral;
  justify-content: center;
  grid-template-areas: "top top top top top" "second second second third third" "second second second third third" "second second second third third" "second second second third third";
}

.top__flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: top;
  margin: 3%;
}

.second__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: second;
  width: 100%;
  flex-wrap: wrap;
  margin: 5% 0% 5% 3%;
}

.third__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-area: third;
  width: 100%;
  flex-wrap: wrap;
  margin: 5% 7% 5% 0;
  padding-right: 8px;
  padding-top: 6px;
}

p {
  border: 2px solid black;
  width: 90%;
  border-radius: 16%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: larger;
  background-color: #d8eff7;
}

#division {
  font-family: cursive;
  font-size: larger;
}
