@mixin flex {
    display: flex;
    flex-direction: row;
}
@font-face {
    font-family: "BoldlyMissy";
    src: url("BoldlyMissy.otf") format("opentype");
}
* {
    box-sizing: border-box;
    font-family: "BoldlyMissy", cursive;
    // font-family: "Bangers", cursive;
    font-size: 25px;
}
body {
    display: flex;
    justify-content: center;
    margin: 5%;
}
button {
    width: 27%;
    height: 19%;
    margin: 0.5%;
    border-radius: 25%;
}
.button--modifier {
    width: 39%;
    height: 39%;
    // border-radius: 25%;
}
.button--lg {
    width: 42%;
    height: 88%;
    // border-radius: 25%;
}
.grid-container {
    width: 35%;
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    border: 3px solid black;
    border-radius: 8%;
    background-color: lightcoral;
    grid-template-areas:
        "top top top top top"
        "second second second third third"
        "second second second third third"
        "second second second forth forth"
        "second second second forth forth";
    // background-color: lightgreen;
}

.top__flex {
    @include flex;
    justify-content: center;
    grid-area: top;
    margin: 3%;
}

.second__flex {
    @include flex;
    justify-content: space-around;
    grid-area: second;
    width: 100%;
    flex-wrap: wrap;
    margin: 3%;
}
.third__flex {
    @include flex;
    justify-content: space-around;
    grid-area: third;
    width: 100%;
    flex-wrap: wrap;
    margin: 5% 5% 0 0;
}
.fourth__flex {
    @include flex;
    justify-content: space-around;
    grid-area: forth;
    align-items: center;
    margin: 0 4% 10% 5%;
}

p {
    border: 2px solid black;
    width: 90%;
    border-radius: 16%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: larger;
    background-color: rgb(216, 239, 247);
}

#division {
    font-family: cursive;
    font-size: larger;
}
